[Desktop Entry]
Type=Service
ServiceTypes=KonqPopupMenu/Plugin
MimeType=all/allfiles;inode/directory;
Actions=openInAntigravityIde;
X-KDE-Priority=TopLevel
X-KDE-StartupNotify=true

[Desktop Action openInAntigravityIde]
Name=Open in Antigravity IDE
Icon=antigravity-ide
Exec=antigravity-ide %F
