[Desktop Entry]
Type=Service
ServiceTypes=KonqPopupMenu/Plugin
MimeType=inode/directory;application/octet-stream;
Actions=openInAntigravityIde;
X-KDE-Priority=TopLevel
X-KDE-StartupNotify=true

[Desktop Action openInAntigravityIde]
Name=Open in Antigravity IDE
Icon=antigravity-ide
Exec=antigravity-ide %u
